default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
      filters:
        tags: "~@wip"
  extensions:
    Behat\MinkExtension:
      base-url: 'https://en.wikipedia.org/'
      goutte: ~
